@import "tailwindcss";

@theme {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-900: #0c4a6e;

  --color-secondary-500: #8b5cf6;
  --color-secondary-600: #7c3aed;

  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}